<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Lab 2 - TAI</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo dolores vero vel, adipisci exercitationem,
        voluptate reprehenderit aliquid suscipit est saepe illo ab eos temporibus at et fugiat eligendi omnis.
        Cupiditate.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis modi maiores quidem iusto quos libero vero
        nemo sit nostrum magnam aliquid possimus et illum, incidunt vitae tenetur. Blanditiis, facere doloremque?
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <img class="img"
          src="https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
      </div>
    </div>
  </div>
  <div class="scroll">
    <button class="btn btn-success">Do góry</button>
 </div>
  <footer class="footer">
    <p>Copyrights © Kamil Bieniasz | 2021</p>
  </footer>
  <script src="navbar.js"></script>
  <script src="scroll.js"></script>
</body>

</html>