body {
  background-color: #97becd;
}

.img {
  width: 100px;
  height: auto;
}

.footerStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}


.scroll {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display:none;
}