.card{
    background-color: #def;
    border-radius: 15px;
}

.card-body{
    margin:0px;
}

h2{
    margin-bottom: 10px;
}

p{
    margin-bottom: 15px;
}

a{
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

