html, body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body{
  display:flex;
  flex-direction:column;
}

html {
  scroll-behavior: smooth;
}

.forms{
  margin: 3% auto auto;
  width: 25%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  padding: 24px;

}
.commit{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.commit button {
  margin: 0 5%;
  width:120px;
}

.center {
  display: flex;
  justify-content: center;
}

input {
  margin-bottom: 10px;
}
.img {
  width:100px;
}

.clear {
  clear:both;
}

.container {
  flex: 1 0 auto;
  padding-bottom: 30px;
}

.row {
  /*background-color: #c84343;*/
  background-color: #ececec;
  border-radius: 0 0 8px 8px;
  padding: 12px;
}

ul {
  list-style: none;
}

li, a {
  color:white;
  text-decoration: none;
}

.list-group-item {
  cursor: pointer;
  color: black;
}

.correct {
  background-color: #289a27;
}

.incorrect {
  background-color: #c41a21;
}

.buttons {
  padding: 10px 10px 10px 0;
}

#quiz{
  margin-top: 12px;
}

.question{
  padding: 2px 6px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid gray;
}

.quiz-container {
  padding-top: 24px;
}

.restart{
  padding:12px;
}


