<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontakt - Mateusz Zawalski</title>


    
</head>
<body>

    <div class="forms-container">
        
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Imię:</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="imie">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Nazwisko:</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="nazwisko">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput3" class="form-label">E-mail:</label>
            <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="email">
          </div>

          <div class="sex">
              <div class="sex-label"><label for="sex" class="form-label">Płeć</label></div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male" >
                <label class="form-check-label" for="male">Mężczyzna</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="female" checked>
                <label class="form-check-label" for="female">Kobieta</label>
              </div>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Opis</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="form-outline">
            <label class="form-label" for="typeNumber">Wiek:</label>
            <input type="number" id="typeNumber" class="form-control" />
          </div>

          <div class="select">
            <label for="select" class="form-label">Stan cywilny</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Panna/Kawaler</option>
                <option value="1">Żonaty/Zamężna</option>
                <option value="2">Partner/Partnerka</option>
                <option value="3">Wdowiec/Wdowa</option>
                <option value="4">Rozwiedziony/Rozwiedziona</option>
              </select>
          </div>

          <div class="buttons">
            <button type="button" class="btn btn-light">Wyczyść</button>
            <button type="button" class="btn btn-light">Wyślij</button>
          </div>
          
    </div>

    <div class="scroll">   <button class="btn btn-success">Do góry</button></div>

    <footer class="footer">
      <p class="footerText">Copyrights &copy; Mateusz Zawalski | 2021</p>
  </footer>

  <script src="js/scroll.js"></script>
  <script src="js/navbar.js"></script>
</body>
</html>