<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kontakt</title>
</head>
<body>
<form>
  <div class="row mb-3">
    <label for="name" class="col-sm-2 col-form-label">Imię:</label>
    <div class="col-sm-4">
      <input id="name" class="form-control" placeholder="Podaj swoje imię." required>
    </div>
  </div>
  <div class="row mb-3">
    <label for="surname" class="col-sm-2 col-form-label">Nazwisko:</label>
    <div class="col-sm-4">
      <input id="surname" class="form-control" placeholder="Podaj swoje nazwisko." required>
    </div>
  </div>
  <div class="row mb-3">
    <label for="email" class="col-sm-2 col-form-label">Email:</label>
    <div class="col-sm-4">
      <input id="email" type="email" class="form-control" placeholder="Podaj swój email." required>
    </div>
  </div>
  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Płeć</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="man" value="man" checked>
        <label class="form-check-label" for="man">
          Mężczyzna
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="woman" value="woman" checked>
        <label class="form-check-label" for="man">
          Kobieta
        </label>
      </div>
    </div>
  </fieldset>
  <div class="row mb-3">
    <label for="description" class="col-sm-2 col-form-label">Opis:</label>
    <div class="col-sm-4">
      <textarea id="description" name="description" cols="20" rows="3" required></textarea>
    </div>
  </div>
  <div class="row mb-3">
    <label for="name" class="col-sm-2 col-form-label">Wiek:</label>
    <div class="col-sm-4">
      <input id="age" type="number" class="form-control" min="18" placeholder="18" required>
    </div>
  </div>
  <div class="row mb-3">
    <label for="maritial" class="col-sm-2 col-form-label">Stan cywilny:</label>
    <div class="col-sm-10">
      <select id="maritial" name="maritial" required>
        <option>Panna/Kawaler</option>
        <option>Mężatka/Żonaty</option>
        <option>Wdowa/Wdowiec</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Wyślij</button>
  <button type="reset" class="btn btn-danger">Wyczyść</button>
</form>

<div class="scroll">
  <button class="btn btn-success">Do góry</button>
</div>




</body>
</html>