html, body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body{
  display:flex;
  flex-direction:column;
}

html {
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
}

input {
  margin-bottom: 10px;
}
.img {
  width:100px;
}

.clear {
  clear:both;
}

.container {
  flex: 1 0 auto;
  padding-bottom: 30px;
}

.row {
  background-color: #ececec;
  border-radius: 0 0 8px 8px;
  padding: 12px;
}

ul {
  list-style: none;
}

li, a {
  color:white;
  text-decoration: none;
}

.scroll {
  order: revert;
  z-index: 3;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
}

footer{
  position: sticky;
  width: 100%;
  color: #fff200;
  font-size: 18px;
  background-color: #000000;
  text-align: center;
  padding:12px;
  z-index: 2;
  clear: both;
}

footer a{
  text-decoration: underline;
  color: #ffaa00;
  transition: all 0.3s;
}

footer a:hover{
  color: #ff4800;
}

.list-group-item {
  cursor: pointer;
  color: black;
}

.correct {
  background-color: #289a27;
}

.incorrect {
  background-color: #c41a21;
}

.buttons {
  padding: 10px 10px 10px 0;
}

#quiz{
  margin-top: 12px;
}

.question{
  padding: 2px 6px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid gray;
}

.quiz-container {
  padding-top: 24px;
}

.restart{
  padding:12px;
}


