html, body {
  height: 100%;
  margin: 0;
}

app-root{
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
}

input {
  margin-bottom: 10px;
}
.img {
  width:100px;
}

.clear {
  clear:both;
}

.container{
  padding-bottom:14px;
}

.row {
  background-color: #ececec;
  border-radius: 0 0 8px 8px;
  padding: 12px;
}

ul {
  list-style: none;
}

li, a {
  color:white;
  text-decoration: none;
}

.list-group-item {
  cursor: pointer;
  color: black;
}

.correct {
  background-color: #289a27;
}

.incorrect {
  background-color: #c41a21;
}

.buttons {
  padding: 10px 10px 10px 0;
}

#quiz{
  margin-top: 12px;
}

.question{
  padding: 2px 6px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid gray;
}

.quiz-container {
  padding-top: 24px;
}

.restart{
  padding:12px;
}


